@import components/button
@import components/inputs
@import components/header
@import components/modals
@import components/cap
@import components/shareblock
@import components/sliders


.ui-block
	padding: 10px
	.ui-btn-wrap
		display: flex
		padding: 20px 0
		background: #ffffff
		margin: 10px 0
		&>div
			text-align: center
			padding: 10px

.index-title
	&-wrap
		width: 100%
		height: 100%
		position: relative
		z-index: 2
		padding: 0 80px
		display: inline-block
		+vertical
	&-inner
		display: inline-block
		vertical-align: middle
		width: 100%
		max-width: 1100px
		text-align: left
	&-item
		// mobile style
		span
			display: block
			font-size: 54px
			font-weight: 100
			line-height: 2.59
			letter-spacing: 31px
			text-transform: uppercase
			&:last-child
				margin-left: auto
				margin-right: 0
// mobile style
.index-slider
	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 100%

.aside
	.contacts-wrap
		margin-bottom: 110px
		a
			display: block
			margin: 10px 0
			color: $color
			&[href^=mail]
				color: $link-color
				margin: 20px 0

.form-success
	width: 100%
	max-width: 520px
	&__title
		margin-bottom: 20px
	&__msg
		margin-bottom: 50px

.models-page
	.models-wrap
		font-size: 0
		margin: 0 -5px
		position: relative
		padding-top: 30px
		.stamp-models
			position: absolute
			width: 23%
			height: 50px
			top: 30px
			&.stamp1
				left: 0
			&.stamp2
				left: 52%
			&.re-stamp
				&.stamp1
					left: 25%
				&.stamp2
					left: 75%
			&.hide-stamp
				display: none
		.models-item
			display: inline-block
			width: calc(25% - 10px)
			position: relative
			margin: 5px
			font-size: 0
			&__title
				color: #ffffff
				font-size: 36px
				font-weight: 300
				line-height: 1
				margin-top: auto
				margin-bottom: 0
				padding-bottom: 10px
				transform: translateY(10px)
				opacity: 0
				transition: transform .2s 0s, opacity .2s 0s
				overflow: hidden
				text-overflow: ellipsis
				+r(1200)
					font-size: 26px
			&__info
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				padding: 10px
				display: flex
				background-color: rgba($color, .5)
				opacity: 0
				transition: opacity .4s
				&:hover
					opacity: 1
					.models-item__title
						opacity: 1
						transition: transform .3s .2s, opacity .2s .2s
						transform: none
			&.hide-model
				border: 1px solid red
			.hide-wrap-model
				visible: hidden
	.search-block
		height: 0
		padding: 0
		opacity: 0
		transition: padding .4s .25s, opacity .3s .15s
		&.active
			padding-top: 50px
			padding-bottom: 130px
			opacity: 1
	.ajax-pager-wrap
		position: absolute
		bottom: 0
		left: 0

.gallery-page
	padding-top: 110px
	&__title
		font-size: 50px
	&__footer
		text-align: center
		width: 100%
		&.ajax-pager-wrap
			position: absolute
			bottom: -100px
			left: 0
	.gallery-filter
		margin: 60px -5px 75px -5px
		&__item 
			display: inline-block
			padding: 5px
			background-color: transparent
			&:not(:first-child)
				margin-left: 5.5%
	.gallery-wrap
		font-size: 0
		margin: 0 -10px
		position: relative
		margin-bottom: 200px
		.stamp-gallery
			position: absolute
			width: 30%
			height: 50px
			top: 10px
			&.stamp1
				left: 0
			&.stamp2
				right: 0
		.gallery-item
			display: inline-block
			width: calc(33% - 20px)
			position: relative
			margin: 10px
			font-size: 0
			&.hide-gallery
				border: 1px solid red
			&__date
				color: rgba(#ffffff, .6)
				font-size: 14px
				line-height: 1.71
				font-weight: normal
				text-transform: uppercase
				transform: translateY(-10px)
				opacity: 0
				transition: transform .2s 0s, opacity .2s 0s
			&__title
				color: #ffffff
				font-size: 36px
				font-weight: 300
				line-height: 1
				margin-bottom: 20px
				transform: translateY(10px)
				opacity: 0
				transition: transform .2s 0s, opacity .2s 0s
			&__short
				color: #ffffff
				font-size: 15px
				font-weight: normal
				line-height: 2
				transform: translateY(10px)
				opacity: 0
				transition: transform .2s 0s, opacity .2s 0s
			&__info
				position: absolute
				top: 0
				left: 0
				right: 0
				bottom: 0
				padding: 18px 18px 20px 18px
				display: flex
				flex-direction: column
				justify-content: space-between
				background-color: rgba($color, .6)
				opacity: 0
				transition: opacity .4s
				&:hover
					opacity: 1
					.gallery-item__date
						opacity: 1
						transition: transform .4s .6s, opacity .2s .6s
						transform: none
					.gallery-item__title
						opacity: 1
						transition: transform .3s .2s, opacity .2s .2s
						transform: none
					.gallery-item__short
						opacity: 1
						transition: transform .3s .3s, opacity .2s .3s
						transform: none

.gallery-news
	.main
		padding-left: 0
		padding-bottom: 380px
	&-title
		margin-bottom: 40px
		letter-spacing: normal
		h1
			font-size: 50px
			line-height: normal
	&-date
		font-size: 14px
		line-height: 1.71
		margin-bottom: 75px
		text-transform: uppercase
	&-description
		margin-bottom: 50px
	&-content
		width: 100%
		max-width: 720px
		font-size: 0
		padding-top: 160px
		& > * 
			&:not(:last-child)
				margin-bottom: 20px
	&-footer
		width: 100%
		text-align: left
		margin-left: auto
		position: absolute
		bottom: 130px
		left: 0
		opacity: 0
		transform: translateY(40px)
		transition: opacity .3s .4s, transform .4s .4s
		&.animate
			opacity: 1
			transform: none

.about-menu
	padding-left: 6.66%
	padding-top: 40px
	&__list
		margin-left: 40px
	&__item
		&:not(:first-child)
			margin-top: 10px
	&__link
		text-transform: uppercase
		display: inline-block
		padding: 3px 0
		font-size: 12px
		letter-spacing: 3px
		position: relative
		&::before
			content: ''
			display: block
			width: 50px
			height: 1px
			background-color: $color
			position: absolute
			top: 9px
			left: -70px
			transform: scaleX(0)
			transform-origin: 100%
			transition: transform .4s
		&:hover
			&::before
				transform: scaleX(.6)
				transition-timing-function: ease-out
		&.active
			color: $color
			pointer-events: none
			&::before
				transform: scaleX(1)

.about-content
	padding-left: 6.66%
	padding-top: 135px
	font-size: 0
	&__full-text
		max-width: 840px
		margin: 80px auto 85px auto
	&__row
		display: flex
		align-items: flex-end
	&__cell
		position: relative
		width: 50%
		display: inline-block
		h1
			position: absolute
			top: 45px
			left: 40px
			text-align: left
			z-index: 2
		img
			max-width: 480px
		&.cell-title
			text-align: right
			img
				max-width: 460px
		&.cell-text_r
			padding-left: 12.5%
			padding-bottom: 18px
		&.cell-text_l
			align-self: flex-start
			padding-top: 20px
			padding-left: 14.5%
			padding-right: 20px
		&.cell-img_r
			padding-left: 70px
			z-index: -1
		&.cell-img_l
			padding-right: 70px
	&__text
		width: 100%
		max-width: 360px
		// margin: 0 auto
		margin-bottom: -20px
		text-align: left
		.text
			margin: 20px 0
		.text-big
			margin: 0
			margin-bottom: 50px
			font-weight: normal
			line-height: 1.54
		.sub-title--offset
			margin-top: 110px
			margin-bottom: 30px
	&__slider
		font-size: 20px
		width: 100%
		max-width: 840px
		margin-right: 0
		margin-left: auto
		margin-top: 160px
		position: relative
		&-wrap
			background-color: $bg-dark
			padding: 40px 90px 30px 90px
		&-msg
			position: absolute
			top: -60px
			left: -180px
			z-index: 2
			width: 100%
			max-width: 370px
			padding: 80px 60px 70px 60px
			background-color: $bg-color
			box-shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.15)
			.text-big
				font-weight: normal
				line-height: 1.54
			.bttn
				margin-top: 53px
				padding-left: 23px
				padding-right: 23px
		& .swiper-wrapper
			padding-bottom: 30px
		& .swiper-slide
			width: 100%
			max-width: 320px
			height: 480px
		& .swiper-pagination
			text-align: left
			bottom: 0
			left: 0
			font-size: 0
			margin-left: -3px
			&-bullet
				background-color: inherit
				border-radius: 0
				width: 40px
				height: 1px
				padding: 10px
				margin: 0 5px !important
				position: relative
				opacity: 0.5
				+tr(opacity .3s)
				&-active
					opacity: 1
				&::before
					content: ''
					width: 100%
					height: 1px
					background-color: $link-color
					position: absolute
					top: 50%
					left: 0
.about	
	.link-footer
		margin: 175px 0
		padding: 0 6.66%
		&-inner
			display: flex
			justify-content: space-between
			opacity: 0
			transform: translateY(40px)
			transition: opacity .3s .4s, transform .4s .4s
			&.animate
				opacity: 1
				transform: none

.line-decor
	display: block
	position: relative
	&::before
		content: ''
		display: block
		width: 100px
		height: 1px
		background-color: $color
		position: absolute
		top: 14px
		z-index: 2
	&.line_l
		&::before
			left: -53%
	&.line_r
		&::before
			right: -43%

.block-inner
	.aside
		display: flex
		padding-bottom: 40px
.inner
	&-title
		width: 47%
		display: block
		position: relative
		&-wrap
			transform: rotate(-90deg)
			width: 100%
			position: absolute
			bottom: -125px
			transform-origin: 0 0
			left: -40px
			h1
				text-transform: none
				text-align: left			
	&-info
		width: 53%
		text-align: left
		padding-top: 110px
		overflow-y: auto
		display: flex
		flex-direction: column
		&__item
			&:not(:last-child)
				margin-bottom: 25px
		// @for $i from 1 to 10
		// 	.inner-info__item:nth-child(n+#{$i})
		// 		opacity: 1
		// 		transform: none
		// 		transition: opacity .3s, transform .4s
		// 		transition-delay: 0.2s * $i
		&__title,
		&__desc
			line-height: 1.33
		&__link
			margin-top: auto
			margin-bottom: 0
			a
				display: block
				margin-top: 15px

/* swiper */
.inner-slider
	height: 100%
	padding-bottom: 120px
	.swiper-wrapper
		height: 100%
		.swiper-slide
			height: 100%
			width: 100%
			max-width: 450px
			overflow: hidden
			img
				height: 100%
				width: 100%
				object-fit: cover
			&.swiper-slide-video
				max-width: 98%
				background-color: #000000
				+vertical
				.youtube
					background-color: #000000
					display: inline-block
					vertical-align: middle
			&.swiper-slide-social
				margin-right: 40px
				max-width: 60%
				display: flex
				.share-block
					display: flex
					flex-direction: column
					width: 100%
					&__link
						margin: 0
					&__bttn
						margin: auto 0 0 0
	&.swiper-container-horizontal
		& >.swiper-scrollbar
			bottom: 70px
			left: 20px
			width: 100%
			max-width: 560px
			background: transparent
			height: 1px;
			.swiper-scrollbar-drag
				height: 100%
				position: relative
				background: #ffffff
				left: 0
				top: 0
		.swiper-pagination
			visibility: hidden
			display: none

		.swiper-navigation
			position: absolute
			text-align: left
			bottom: 30px
			left: 20px
			display: flex
			justify-content: space-between
			width: 100%
			max-width: 560px
			.slide-target
				display: inline-block
				background-color: transparent
				font-size: 12px
				text-transform: uppercase
				color: $link-color
				
				line-height: 1.67
				letter-spacing: 3px
				&.active
					color: $btn-color


/* ligtgallery */
.lg-backdrop
	background-color: rgba( #000000, .95)
.lg-object
	transform: none !important
.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current,
.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide,
.lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide 
	transition: transform .2s ease, opacity .2s ease
body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-item.lg-complete .lg-object.lg-image
	transform: none
	opacity: 0
	// transition: transform .25s cubic-bezier(0,0,.25,1) 0s, opacity .25s ease !important
body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-item.lg-complete.lg-current .lg-object.lg-image
	opacity: 1

.error
	&-wrap
		height: 100%
		display: flex
		flex-wrap: wrap
		justify-content: center
		padding-top: 60px
		padding-bottom: 35px
		&-inner
			width: 100%
			text-align: center
			margin: auto
		.social-links
			margin-top: auto
			margin-bottom: 0
	&-title
		width: 100%
		font-size: 200px
		font-weight: 200
		margin-bottom: 34px
	&-message
		width: 100%


