---
title: Model Name
//- bodyClass: contacts-page
//- outClass: Index_Page
---
extends layouts/_layout
block content

	.barba-container(data-namespace="inner-model")
		.block.-fullpage
			.block-inner
				.aside.bg-brend
					.inner-title
						.inner-title-wrap
							h1 Anastasia Viartsiukhova
					.inner-info
						.inner-info-wrap
							.inner-info__item
								.inner-info__title.sub-title Height
								.inner-info__desc.text 178
							.inner-info__item
								.inner-info__title.sub-title Bust
								.inner-info__desc.text 80
							.inner-info__item
								.inner-info__title.sub-title Waist
								.inner-info__desc.text 60
							.inner-info__item
								.inner-info__title.sub-title Hips
								.inner-info__desc.text 88
							.inner-info__item
								.inner-info__title.sub-title Shoe size
								.inner-info__desc.text 40
							.inner-info__item
								.inner-info__title.sub-title Hair color
								.inner-info__desc.text brown
							.inner-info__item
								.inner-info__title.sub-title Eye color
								.inner-info__desc.text green-gray
						.inner-info__link
							a(href="").link-menu Instagram
							a(href="").link-menu Facebook
				.main.bg-dark
					.swiper-container.inner-slider
						.swiper-wrapper
							.swiper-slide.swiper-slide-portfolio(data-link="portfolio-bttn")
								.item(data-src="img/anastasia-1-big.jpg")
									img(src="img/anastasia-1.jpg", alt="")
							.swiper-slide.swiper-slide-portfolio(data-link="portfolio-bttn")
								.item(data-src="img/anastasia-2-big.jpg")
									img(src="img/anastasia-2.jpg", alt="")
							.swiper-slide.swiper-slide-portfolio(data-link="portfolio-bttn")
								.item(data-src="img/anastasia-1-big.jpg")
									img(src="img/anastasia-1.jpg", alt="")
							.swiper-slide.swiper-slide-editorial(data-link="editorial-bttn")
								.item(data-src="img/gallery-2.jpg")
									img(src="img/gallery-2.jpg", alt="")
							.swiper-slide.swiper-slide-editorial(data-link="editorial-bttn")
								.item(data-src="img/gallery-4.jpg")
									img(src="img/gallery-4.jpg", alt="")
							.swiper-slide.swiper-slide-editorial(data-link="editorial-bttn")
								.item(data-src="img/gallery-7.jpg")
									img(src="img/gallery-7.jpg", alt="")
							.swiper-slide.swiper-slide-polaroids(data-link="polaroids-bttn")
								.item(data-src="img/anastasia-2-big.jpg")
									img(src="img/anastasia-2.jpg", alt="")
							.swiper-slide.swiper-slide-polaroids(data-link="polaroids-bttn")
								.item(data-src="img/anastasia-1-big.jpg")
									img(src="img/anastasia-1.jpg", alt="")
							.swiper-slide.swiper-slide-polaroids(data-link="polaroids-bttn")
								.item(data-src="img/anastasia-2-big.jpg")
									img(src="img/anastasia-2.jpg", alt="")
							.swiper-slide.swiper-slide-video(data-link="video-bttn")
								.youtube(data-embed='VLP4UqTDgwY')
									.play-button
										.play-button-icon
							.swiper-slide.swiper-slide-social(data-link="social-bttn")
								+share-block
						.swiper-pagination
						.swiper-scrollbar
						.swiper-navigation
							button.portfolio-bttn.slide-target.active(data-slide="swiper-slide-portfolio") portfolio
							button.editorial-bttn.slide-target(data-slide="swiper-slide-editorial") editorial
							button.polaroids-bttn.slide-target(data-slide="swiper-slide-polaroids") polaroids
							button.video-bttn.slide-target(data-slide="swiper-slide-video") video
							button.social-bttn.slide-target(data-slide="swiper-slide-social") social
