---
title: About Agency
//- bodyClass: about
//- outClass: Index_Page
---
extends layouts/_layout
block content
	.barba-container(data-namespace="about")
		.block.about
			.logo-wrap.bg-brend
				a(href="./home.html")
					+icon('logo')
			.block-content.bg-brend
				
				.about-content
					.about-content__row
						h1 About agency
						img(src="img/about-agency.jpg", alt="about-agency")
						.about-content__text
							p.text-big INMODELS — mother model agency, opened in 2015 by two models — Inna Smirnova and Natalia Litvinenko
							p.text 
								strong The agency is engaged in the search for models, the development of their international careers, and works with girls from all the cities of Belarus.
						p.text.sub-title.sub-title--offset The beginning
						p.text.text Before opening the agency, we worked for a long time models in Italy, France, USA, China and other countries. During their work they learned about the problems and difficulties encountered by the models and learned to solve them.
					blockquote.text-big We understood how the parent agency should work for the successful development of the model. We wanted to change the approach of the work of the parent agencies, pay special attention to friendly relations with both models and with foreign agencies.
					.about-content__row
						img(src="img/about-2.jpg", alt="about about")
						.about-content__text
							p.text.text
								strong In 2015 we decided to open our agency INMODELS. At this time, Tatiana Sokolovskaya joined our team.
						p.text She was the most popular Internet blog about Belarusian models and worked as a model agent. We were united by interest and love of fashion.	
					.link-footer
						ul.link-footer-inner
							li.link-footer__item
								a.link-big.active(href="/4-0-agency.html") about agency
							li.link-footer__item
								a.link-big(href="/4-1-agency-models.html") for models
							li.link-footer__item
								a.link-big(href="/4-2-partners.html") for partners