---
title: 404
//- bodyClass: error
//- outClass: Index_Page
---
extends layouts/_layout
block content

	.barba-container(data-namespace="error")
		.block.-fullpage
			.block-load
				.block-content.error-wrap
					.error-wrap-inner
						.error-title 404
						.error-message
							p.text-big Sorry, the page you requested does not exist. 
							a(href="home.html").text-big Go to the main page.
					.navigation-link.social-links
						a.navigation-link__item(href="#") facebook
						a.navigation-link__item(href="#") instagram
						a.navigation-link__item(href="#") vkontakte