---
title: Social
//- bodyClass: error
//- outClass: Index_Page
---
extends layouts/_layout
block content

	.barba-container(data-namespace="error")
		.block.-fullpage
			.block-load
				.block-content.error-wrap
					.logo-wrap.error-logo
							a(href="home.html")
								+icon('logo')
					.social-wrap
						.navigation-link.social-wrap-links
							a.social-wrap__item.no-barba(href="https://ru-ru.facebook.com/inmodelsby/") facebook
							a.social-wrap__item.no-barba(href="https://www.instagram.com/inmodelsby/") instagram
							a.social-wrap__item.no-barba(href="https://vk.com/inmodelsby") vkontakte
