include layouts/_mixins

.hide-wrap-model
	+gallery-item('gallery-3.jpg', '26 dec 2017', 'Sasha Pronenko', 'For POLOGEORGIS furs collections', 'editorial video hide-gallery')
	+gallery-item('gallery-1.jpg', '20 dec 2017', 'Sasha Pronenko', 'For POLOGEORGIS furs collections', 'editorial newface hide-gallery')
	+gallery-item('gallery-2.jpg', '24 dec 2017', 'Sasha Pronenko', 'For POLOGEORGIS furs collections', 'show video hide-gallery')
	+gallery-item('gallery-3.jpg', '26 dec 2017', 'Sasha Pronenko', 'For POLOGEORGIS furs collections', 'editorial video hide-gallery')
