---
title: Index Page
//- bodyClass: index-page
//- outClass: Index_Page
---
extends layouts/_layout
block content
	
	.barba-container(data-namespace="index")
		.block.-fullpage
			.index-slider.swiper-container
				.swiper-wrapper
					.swiper-slide
						img(src="img/anastasia-1-big.jpg", alt="slider")
					.swiper-slide
						img(src="img/anastasia-2-big.jpg", alt="slider")
					.swiper-slide
						img(src="img/anastasia-1-big.jpg", alt="slider")
					.swiper-slide
						img(src="img/anastasia-2-big.jpg", alt="slider")

			.index-title-wrap
				.index-title-inner
					.index-title-item
						span Find
						span the 
						span beauty
						span inside