include layouts/_mixins


+models-item('models-1.jpg', 'Sasha Pronenko', 'hide-model')
+models-item('models-2.jpg', 'Vasili Viartsiukhova', 'hide-model')
+models-item('models-3.jpg', 'Masha Pronenko', 'hide-model')
+models-item('models-3.jpg', 'Sasha Grey', 'hide-model')
