include layouts/_mixins

.hide-wrap-model
	+models-item('models-1.jpg', 'Sasha Pronenko', 'hide-model')
	+models-item('models-2.jpg', 'Vasili Viartsiukhova', 'hide-model')
	+models-item('models-3.jpg', 'Masha Pronenko', 'hide-model')
	+models-item('models-4.jpg', 'Anastasia Viartsiukhova', 'hide-model')
	+models-item('models-2.jpg', 'Vasili Viartsiukhova', 'hide-model')
	+models-item('models-3.jpg', 'Masha Pronenko', 'hide-model')
