//BEGIN header
.header-inner
	.navigation
		.navigation-burger.js-popup-button(title="menu", data-modal='modal-menu')
			span.navigation-burger__item
			span.navigation-burger__item
			span.navigation-burger__item
		a.navigation-lang(href="#") рус
		//- a(href="/home.html").navigation-logo
		//- 	+icon('logo')
		a.navigation-search(href="#search-block")
			+icon('loupe')
		//- .navigation-link.header-links
		//- 	.navigation-link-wrap
		//- 		a.navigation-link__item(href="/6-0-contacts.html") Business request
		//- 		a.navigation-link__item(href="/7-0-Become-model.html") Become a model
//END header