//BEGIN header
.header-inner
	.navigation
		.navigation-burger.navigation-btn-scrl.js-popup-button(title="menu", data-modal='modal-menu')
			.navigation-burger__inner
				.navigation-burger__icon
					span.navigation-burger__item
					span.navigation-burger__item
					span.navigation-burger__item
		a(href="/2-0-models.html").navigation-back.navigation-btn-scrl
			.navigation-back__inner
				.navigation-back__icon
					+icon('back')

		a.navigation-search(href="#search-block")
			+icon('loupe')
		
//END header